@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-Normal {
                font-family: "Open Sans", serif;
                font-optical-sizing: auto;
                font-style: normal;
                font-variation-settings:
                        "wdth" 100;
                }

.hide {
    display: none;
}

/*shared style*/
.text-primary {
    color: #FD6E0A;
}
.dark-2 {
    color: #474747;
}
.dark-1 {
    #181818;
}
.dark-3 {
    #757575;
}
.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.section-description {
    font-size: 18px;
    color: #757575;
    font-weight: normal;

}
.text-center {
    text-align: center;
}
.secondary-bg {
    background-color: #FFF8F3;
}
.btn-primary {
background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
}
/*header style*/
.header {

    background-image: url("images/developer.png"), url("images/header_bg.png");
}

/*nav style*/
nav {
    display: flex;
   align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;

}


nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right:50px;

}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
}
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }
}

/*banner style*/
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
.banner-content {
    max-width: 580px;
}
.banner-greetings {
font-size: 45px;
font-weight:600;
}
.banner-title {
    font-size: 80px;
    font-weight: bold;
}
.banner-description {
font-size: 18px;
}

@media screen and (max-width: 576px) {

    .banner {
        flex-direction: column;
        margin: 0;
        padding: 30px;
    }
    .banner img {
       width: 100%;
    }
}

/*main style*/
main {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
}


/*about style*/
.about {
    border-radius: 10px;
    padding: 130px 155px;
   align-items: center;
}
.about-items {
    display: flex;
    justify-content: space-around;
}
.about-item {
    font-size: 20px;
}
.about-description {
    font-weight: bold;
}

@media screen and (max-width: 576px){
        .about {
            padding: 30px;
        }
    .about-items {
        flex-direction: column;
    }
}
/*skilss section start*/

.skill-parent {
    display: flex;
    gap:24px;
}
.skill-type {
padding: 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 10px 50px  rgba(0, 0, 0, 0.02);

}


@media screen and (max-width: 576px){
    .skill-parent {
        flex-direction: column;
    }
    .skill-descripyion {
        text-align:start;
        padding: 0 30px;
    }
}

/*resume style*/
.resume-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap:71px;
}
.section-title {
    font-size: 35px;
    font-weight: bold;
    /*margin-bottom: 113px;*/
}
.resume-colum-title {
    font-size: 30px;
    font-weight: bold;
    /*margin-bottom: 10px;*/

}
.experience-title {
    font-size: 25px;
    font-weight: bold;
    /*margin-bottom: 10px;*/
}
.experience-sub-title {
    font-size: 20px;
    font-weight: 600;
    /*margin-bottom: 20px;*/
}
.center-button {
    display: flex;
    justify-content: center;
    /*margin-top: 40px;*/
}

@media screen and (max-width: 576px) {
    .resume-container{
        flex-direction: column;
    }
}


/*footer style*/
.footer {
    width: 90%;
    margin: 0 auto;
    background-color: #FFF8F3;

}
.footer-container {
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:117px;

}
.info-icon {

  justify-content: center;

}
.info-icon h2{
    font-size: 35px;
    font-weight: bold;
}
.info-icon p{
    font-size: 16px;
    font-weight:normal;
}
.icon {
display: flex;
    gap:24px;
    margin-top: 25px;

}

.message {
    display: flex;
    flex-direction: column;
    width: 100%;



}
.message h2 {
    font-size: 35px;
    font-weight: bold;
}
.input-area input {
    display: flex;
    flex-direction: column;




}
.input-area input,textarea{
    width: 100%;
    padding: 18px 30px;
    margin-top: 10px;

}
.message .last{
    width: 200px;
}

@media screen and (max-width: 576px) {
    .footer-container {
        flex-direction: column;
    }
    .input-area input,textarea {
        width: calc(100% - 60px);
    }
}